body {
    margin: 0;
    font-family: sans-serif;
  
}
  
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    flex-wrap: wrap;
}

.navbar {
  transition: transform 0.2s ease-in-out;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.nav-left img {
    height: 50px;
    width: 50px;
}
  
.nav-left .brand {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
}
  
.nav-right {
    display: flex;
    gap: 15px;
}
  
.nav-right a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
  
.nav-right a:hover {
    color: #00ffaa;
}
  
@media (max-width: 768px) {
    .nav-right {
      width: 100%;
      justify-content: center;
      /* margin-top: 10px; */
    }
  
    .nav-left .brand {
      display: none; /* logo saja di kiri pada tampilan kecil */
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 80vh;
    background-color: #f9f9f9;
    padding: 0 20px;
    padding-top: 30px;
}

.hero img {
  align-items: center;
  height: 200px;
  justify-content: center;
  border-radius: 50%;
}
  
.hero-content {
  max-width: 700px;
}
  
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
  
.hero .highlight {
  color: #00ffaa;
}
  
.hero p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}
  
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
  
  .hero p {
    font-size: 1rem;
  }
}

.footer {
  background-color: #f1f1f1;
  padding: 20px 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  /* margin-top: 60px; */
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  margin: 0 10px;
  color: #888;
  font-size: 1.3rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #00ffaa;
}
