<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etherthink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Etherthink.ico') }}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
      <div class="nav-left">
        <img src="{{ url_for('static', filename='img/Profil_Erth_New.png') }}" alt="Logo Etherthink">
        <span class="brand">Etherthink</span>
      </div>
      <div class="nav-right">
        <a href="#">Sejarah</a>
        <a href="https://www.youtube.com/@Etherthink">Youtube</a>
      </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
