<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etherthink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Etherthink.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
      <div class="nav-left">
        <img src="{{ url_for('static', filename='img/Profil_Erth_New.png') }}" alt="Logo Etherthink">
        <span class="brand">Etherthink</span>
      </div>
      <div class="nav-right">
        <a href="#">Sejarah</a>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="footer">
      <p>&copy; Hak Cipta 2024 - {{ now.year }} Etherthink.  All Rights Reserved.</p>
      <div class="footer-icons">
        <a href="https://www.youtube.com/@etherthink" target="_blank" title="Youtube">
          <i class="fab fa-youtube"></i>
        <a href="https://www.instagram.com/etherthink/" target="_blank" title="Instagram">
          <i class="fab fa-instagram"></i>
        <a href="https://www.x.com/Etherthink" target="_blank" title="X (Formerly Twitter)">
          <i class="fab fa-x-twitter"></i>
        <a href="https://www.reddit.com/u/Etherthink" target="_blank" title="Reddit">
          <i class="fab fa-reddit"></i>
        </a>
        <a href="mailto:etherthink@example.com" title="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
