{% extends 'base.html' %}

{% block content %}
  <section class="hero">
    <div class="hero-content">
      <img src="{{ url_for('static', filename='img/The_Founder.png') }}" alt="Logo Etherthink">
      <h1>Hallo semuanya, Aku <span class="highlight">Etherthink</span></h1>
      <hr>
      <p>
        Aku adalah orang yang suka mengeksplorasi banyak hal secara luas, maka dari itu aku membuat Etherthink ini sebagai wadah dari perjalanku.
      </p>
    </div>
  </section>
  <section class="paragraf">
    <div class="paragraf-content">
    </div>
  </section>
{% endblock %}
